ml/.ipynb_checkpoints/
ml/trained_knn_model.clf
.data
backend/models/trained_knn_model.clf 
ml/__pycache__
ml/db.json
backend/static/images/*.jpg
backend/static/images/*.jpeg
backend/static/images/*.png
