body {
    background-color: #dcdcdc;
    font-family: Arial, Helvetica, serif;
    text-align: justify;
    line-height: 1.2;
}

.jumbotron{
    background-color: #fff;
}

.container{
    margin-top: 30px;
}  

.img-fluid{
    height: 250px;
    width: 280px;
}
.display-4{
color: black;
font-weight: bold; 
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
}

.page-footer{
    background-color: #696969;
    color: #fff;
    border-top: 5px solid black;
}
.page-footer p {
    margin-top: -10px;
}
.row h3{
    color: black;
    font-weight: bold; 
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.selected img{
    border: 2px solid black;
}    
